### 1. Librerías

In [49]:
import pandas as pd
import numpy as np
import os

### 2. Carga de datos

In [70]:
main_path = r'C:\Users\carlo\OneDrive\GITHUB - Repositorios\Case analysis\Data\NFL'

nfl_data = pd.read_csv( filepath_or_buffer = os.path.join(main_path, 'NFL Play by Play 2009-2017 (v4).csv'),
                        sep = ',', encoding = 'utf-8', dtype = 'str' )

sf_permits = pd.read_csv( filepath_or_buffer = os.path.join(main_path, 'Building_Permits.csv'),
                        sep = ',', encoding = 'utf-8', dtype = 'str' )

### 3. Explorar datos

In [64]:
print( nfl_data.info() )
#nfl_data.dtypes
#nfl_data.head()
nfl_data.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407688 entries, 0 to 407687
Columns: 102 entries, Date to Season
dtypes: object(102)
memory usage: 317.3+ MB
None

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
92865,2011-09-18,2011091807,1,1,1,14:32,15,3572,23,CAR,...,-2.2375905549639015,0.5376162280003252,0.46238377199967484,0.5168278054257337,0.4831721945742663,0.5376162280003252,-0.02078842257459146,0.04987932708937859,-0.07066774966397005,2011
10436,2009-10-04,2009100411,22,4,1,05:51,6,351,24,STL,...,NaN,0.970827885745205,0.029172114254795045,0.9724060998095393,0.027593900190460707,0.970827885745205,0.0015782140643343379,NaN,NaN,2009
212162,2013-12-01,2013120100,15,3,1,08:52,9,1432,38,TB,...,NaN,0.9142895451857751,0.08571045481422492,0.9066139790827284,0.09338602091727156,0.08571045481422492,0.007675566103046649,NaN,NaN,2013
23065,2009-11-15,2009111506,15,4,NaN,10:44,11,644,5,BUF,...,NaN,0.7607051910850479,0.23929480891495214,0.764004988139007,0.23599501186099303,0.7607051910850479,0.003299797053959108,NaN,NaN,2009
273798,2015-09-20,2015092000,28,4,4,00:13,1,13,4,CAR,...,-7,0.9412312021560375,0.058768797843962516,0.9318169611124592,0.06818303888754085,0.058768797843962516,0.009414241043578332,0.4765867876164357,-0.46717254657285734,2015

In [65]:
print( sf_permits.info() )
sf_permits.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  object
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  object
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   object
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  object
 21  Number of Proposed Stories              156032 non-null  object
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  object
 26  Revised Cost                            192834 non-null  object
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  object
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  object
 31  Plansets                                161591 non-null  object
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  object
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  object
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  object
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  object
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  object
dtypes: object(43)
memory usage: 65.3+ MB
None

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
193478,M872707,8,otc alterations permit,01/04/2018,0956,005,2511,NaN,Baker,St,...,NaN,NaN,NaN,NaN,NaN,2,Pacific Heights,94123,"(37.794337585925916, -122.4453272026031)",149243285316
136236,201609097288,8,otc alterations permit,09/09/2016,0752,001,1799,NaN,Eddy,St,...,5,wood frame (5),5,wood frame (5),NaN,5,Western Addition,94115,"(37.780438789971335, -122.4363414441076)",1436825503770
72909,201501165919,8,otc alterations permit,01/16/2015,3721,004,100,NaN,01st,St,...,1,constr type 1,1,constr type 1,NaN,6,Financial District/South Beach,94105,"(37.78933252312191, -122.39739978569541)",1368015164666
86563,201505196737,3,additions alterations or repairs,05/19/2015,0116,016,542,NaN,Green,St,...,5,wood frame (5),5,wood frame (5),NaN,3,North Beach,94133,"(37.79984337154383, -122.40807799401367)",1382545273285
36421,201401156315,3,additions alterations or repairs,01/15/2014,3590,026,2265,NaN,Mission,St,...,5,wood frame (5),5,wood frame (5),NaN,9,Mission,94110,"(37.760796183344944, -122.41890413375323)",1329794247996

De acuerdo con la primera observación, existen valores faltantes en ambos datasets

In [66]:
# Cantidad de valores faltantes en el dataframe
#nfl_data.isnull().sum().sum()
nfl_data.isnull().values.sum()

10342875

In [77]:
# Valores faltantes por columna
nfl_data.isnull().sum()[nfl_data.isnull().sum() > 0].sort_values(ascending = False)

DefTwoPoint            407664
BlockingPlayer         407571
TwoPointConv           407083
ChalReplayResult       404286
RecFumbPlayer          403315
                        ...
Opp_Safety_Prob           176
Opp_Field_Goal_Prob       176
No_Score_Prob             176
Field_Goal_Prob           176
desc                        2
Length: 61, dtype: int64

In [59]:
# Valores faltantes por columna
sf_permits.isnull().sum()[sf_permits.isnull().sum() > 0].sort_values(ascending = False)

TIDF Compliance                           198898
Voluntary Soft-Story Retrofit             198865
Unit Suffix                               196939
Street Number Suffix                      196684
Site Permit                               193541
Structural Notification                   191978
Fire Only Permit                          180073
Unit                                      169421
Completed Date                            101709
Permit Expiration Date                     51880
Existing Units                             51538
Proposed Units                             50911
Existing Construction Type Description     43366
Existing Construction Type                 43366
Proposed Construction Type Description     43162
Proposed Construction Type                 43162
Number of Proposed Stories                 42868
Number of Existing Stories                 42784
Proposed Use                               42439
Existing Use                               41114
Estimated Cost                             38066
Plansets                                   37309
First Construction Document Date           14946
Issued Date                                14940
Revised Cost                                6066
Street Suffix                               2768
Neighborhoods - Analysis Boundaries         1725
Supervisor District                         1717
Zipcode                                     1716
Location                                    1700
Description                                  290
dtype: int64

In [68]:
# Valores faltantes en porcentaje para nf1_data: 24,87 %
total_cells = np.product( nfl_data.shape )
total_missing = nfl_data.isnull().values.sum()
(total_missing/total_cells) * 100

24.87214126835169

In [58]:
# Valores faltantes en porcentaje para sf_permits: 26,26 %
total_cells = np.product( sf_permits.shape )
total_missing = sf_permits.isnull().values.sum()
(total_missing/total_cells) * 100

26.26002315058403

### 4. Eliminar valores faltantes

In [73]:
# Eliminar FILAS que contengan al menos un valor faltante
aux = nfl_data.dropna( axis = 0 )
aux.head()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [74]:
# Eliminar COLUMNAS que contengan al menos un valor faltante
aux = nfl_data.dropna( axis = 1 )
aux.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0,0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0,0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0,0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0,0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0,0,2009